.window {
    position: relative;
    width: 1440px;
    height: 900px;
    background: linear-gradient(0deg, #8A2BE2, #FFFFFF);
}
.arrow {
    position: absolute;
    left: 64px;
    top: 124px;
    color: #666666;


}
.after_arrow {
    font-family: Montserrat;
    position: absolute;
    width: 59px;
    height: 22px;
    left: 90px;
    top: 97px;
    color: #666666;


}

.dog {
    padding-left: 25px;

}

.description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}
.description2 {
    font-family: Montserrat;
    position: static;
    width: 143px;
    height: 22px;
    left: 0px;
    top: 0px;
}

.big {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    padding-left: 64px;
    padding-top: 184px;
}





