.window {
    position: relative;
    width: 1440px;
    height: 900px;
    background: linear-gradient(0deg, #8A2BE2, #FFFFFF);
}
.arrow {
    position: absolute;
    left: 90px;
    top: 124px;
    color: #666666;


}
.after_arrow {
    font-family: Montserrat;
    position: absolute;
    width: 59px;
    height: 22px;
    left: 96px;
    top: 121px;
    color: #666666;


}

.dog {
    padding-left: 64px;
    padding-top: 184px;
}

/*.description {
    font-family: Montserrat;
    position: absolute;
    height: 22px;
    left: 440px;
    top: 319px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;


}
.description2 {
    font-family: Montserrat;
    position: static;
    width: 143px;
    height: 22px;
    left: 0px;
    top: 0px;
}
*/
.big {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    padding-left: 64px;
    padding-top: 184px;
}






